body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    background-image: linear-gradient(#9933ff, #4dd2ff);
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#container {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 15px;
}